@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
  font-family: 'quarion';
  src: url('@/assets/fonts/quarion.otf') format('opentype');
}

.v-application,
.v-main {
  background: #020610 !important;
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
}

body {
  font-family: 'Outfit', sans-serif !important;
}

@import 'media';

@import './utils/header';
@import './utils/banner';
@import './utils/common';
@import './utils/variables';
@import './utils/elements';
@import './utils/slider';
@import './utils/event';
@import './utils/modal';
@import './utils/community';
@import './utils/chip';
@import './utils/helpers';
@import './utils/tabs';
@import './utils/footer';

//user
@import './utils/user/profile';
@import './utils/user/rewards';
