@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'quarion';
  src: url('@/assets/fonts/quarion.otf') format('opentype');
}

.v-application,
.v-main {
  background: #020610 !important;
  font-family: 'Poppins', sans-serif;
}


@import './utils/header';
@import './utils/banner';
@import './utils/common';
@import './utils/variables';
@import './utils/elements';
@import './utils/slider';
@import './utils/event';
@import './utils/modal';
@import './utils/community';
@import './utils/chip';
