.orange--chip {
  background: #eb7d13 !important;
  border-radius: 5px !important;
  padding: 1px 8px !important;
  color: whhite !important;
  font-weight: bold !important;
}

.purple--chip {
  background: #9601a1 !important;
  border-radius: 5px !important;
  padding: 1px 8px !important;
  color: whhite !important;
  font-weight: bold !important;
}

.green--chip {
  background: #2ad798 !important;
  border-radius: 5px !important;
  padding: 1px 8px !important;
  color: whhite !important;
  font-weight: bold !important;
}

.tag__chip {
  background: #ece1cb !important;
  border-radius: 23px !important;
  padding: 0px 24px !important;
  color: black !important;
  font-weight: 600;
  margin-right: 5px;
  margin-top: 5px;
}
