.v-input {
  .v-field {
    background: rgba(246, 246, 247, 0.08) !important;
  }
  &.is-border-radius {
    .v-field {
      border-radius: 100px !important;
    }
  }
}

.v-select {
  .v-field {
    background: rgba(246, 246, 247, 0.08) !important;
  }
}

.explore-search {
  width: 800px;
  margin: auto;
  @include media-respond(md) {
    width: 600px;
  }
  @include media-respond(sm) {
    width: 600px;
  }
  @include media-respond(xs) {
    width: 100%;
  }
}

.menu__wrap {
  border-radius: 10px !important;
  background: black !important;
  border: 1px solid #3a3a3a !important;
}

.v-list-item__prepend > .v-icon ~ .v-list-item__spacer {
  width: 10px !important;
}
