.slider__content__wrapper {
  position: relative;

  .slider__content {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 20px 40px;
    width: 100%;
  }
}

.camp--card {
  background: rgb(255 255 255 / 12%);
  border-radius: 40px;
  padding: 50px 30px;
  position: relative;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.12);

  .orange-number {
    background: linear-gradient(90deg, #b72346, #c5882d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .purple-number {
    background: linear-gradient(90deg, #4431ba, #979dd8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .green-number {
    background: linear-gradient(90deg, #30ae35, #236d49);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .yellow-number {
    background: linear-gradient(90deg, #edb628, #705612);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .title__text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .description__text {
    font-size: 23px;
    font-weight: bold;
  }

  .camp--icon {
    position: absolute;
    background: rgba(255, 255, 255, 0.12);
    border-radius: 100%;
    backdrop-filter: blur(49px);
    right: -6px;
    top: -18px;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(255, 255, 255, 0.12);
    z-index: 1;
    align-items: center;
    display: flex;
    justify-content: center;

    img {
      height: 30px;
      width: 30px;
    }
  }
}

.scroll-container {
  width: 100%;
  overflow: hidden;
}

.scroll-row {
  white-space: nowrap;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.slider__wrapper {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(600px);
    width: 200px;
    height: 100%;
    background-color: rgb(30, 80, 255, 50%);
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
  }
}

.home-slider {
  border: 0px !important;
  border-radius: 20px !important;

  &.event {
    .el-carousel__container {
      background: transparent !important;
    }
  }

  .el-carousel__container {
    height: 440px !important;
    background: #000 !important;
    border-radius: 20px !important;

    @include media-respond(md) {
      height: 328px !important;
    }

    @include media-respond(sm) {
      height: 328px !important;
    }

    @include media-respond(xs) {
      height: 60vh !important;
    }
  }

  &-item--wrap {
    border-radius: 20px !important;
    &--row {
      width: 100% !important;
      height: 100% !important;
      display: flex !important;
      align-items: center;
      justify-content: space-between;

      @include media-respond(xs) {
        width: 100% !important;
        flex-direction: column;
      }

      &--image {
        width: 50% !important;
        height: 100% !important;

        padding: 20px !important;
        border-radius: 10px !important;
        display: flex !important;
        align-items: center;
        justify-content: center;

        @include media-respond(xs) {
          width: 100% !important;
        }
        img {
          width: 100% !important;
          height: 100% !important;
          border-radius: 10px !important;
          object-fit: cover;
          @include media-respond(sm) {
          }

          @include media-respond(xs) {
            object-fit: contain;
          }
        }
      }
      &--content {
        position: relative;

        padding: 20px !important;
        width: 50% !important;

        @include media-respond(sm) {
          height: 100% !important;
        }
        @include media-respond(xs) {
          width: 100% !important;
          padding: 0px !important;
        }

        .slider__content {
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          padding: 20px 40px;
          width: 100%;

          .avatar {
            margin-right: 5px;
            width: 50px;
            height: 50px;
          }

          .community-name {
            font-size: 30px;
            font-weight: 500;
            padding: 0px 6px;

            @include media-respond(md) {
              font-size: 20px;
              font-weight: 500;
            }

            @include media-respond(sm) {
              font-size: 20px;
              font-weight: 500;
            }

            @include media-respond(xs) {
              font-size: 16px;
              font-weight: 500;
            }
          }

          .event-name {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 20px;

            @include media-respond(md) {
              font-size: 20px;
              font-weight: 500;
            }
            @include media-respond(sm) {
              font-size: 20px;
              font-weight: 500;
            }

            @include media-respond(xs) {
              font-size: 22px;
              font-weight: 500;
            }
          }

          .text-one {
            font-size: 25px;
            font-weight: bold;
            margin-right: 10px;
            @include media-respond(md) {
              font-size: 20px;
              font-weight: bold;
            }
            @include media-respond(sm) {
              font-size: 20px;
              font-weight: bold;
            }

            @include media-respond(xs) {
              font-size: 20px;
              font-weight: bold;
            }
          }

          @include media-respond(sm) {
            position: relative;
            padding: 20px;
          }

          @include media-respond(xs) {
            position: relative;
            padding: 20px;
          }
        }
      }
    }
  }

  .el-carousel__button {
    width: 144px;
    height: 5px;
    border-radius: 100px;
    @include media-respond(sm) {
      width: 144px;
    }

    @include media-respond(xs) {
      width: 90px;
    }
  }
  .el-carousel__arrow {
    background: #161923;
    border: 1px solid rgb(255 255 255 / 24%);
    height: 70px;
    width: 70px;
    @include media-respond(sm) {
      height: 40px;
      width: 40px;
    }

    @include media-respond(xs) {
      height: 30px;
      width: 30px;
    }
    .el-icon {
      font-size: 35px;
      @include media-respond(sm) {
        font-size: 20px;
      }

      @include media-respond(xs) {
        font-size: 20px;
      }
    }
  }
}

.slider-scroll {
  .slide-track {
    width: 100%;
    display: flex;
    gap: 3em;
    overflow: hidden;
  }

  .slide {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    animation: scroll 100s linear infinite;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translatex(-1000%);
  }
}

.event__slider {
  .el-carousel__container {
    background: transparent !important;
    height: 350px;
  }

  .el-carousel__button {
    width: 144px;
    height: 5px;
    border-radius: 100px;
    @include media-respond(sm) {
      width: 144px;
    }

    @include media-respond(xs) {
      width: 90px;
    }
  }
  .el-carousel__arrow {
    background: #161923;
    border: 1px solid rgb(255 255 255 / 24%);
    height: 70px;
    width: 70px;
    @include media-respond(sm) {
      height: 40px;
      width: 40px;
    }

    @include media-respond(xs) {
      height: 30px;
      width: 30px;
    }
    .el-icon {
      font-size: 35px;
      @include media-respond(sm) {
        font-size: 20px;
      }

      @include media-respond(xs) {
        font-size: 20px;
      }
    }
  }
}
